
.swiper{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    /* margin-left: 25px;
    margin-right: 25px; */
}
.swiper-slide{
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    overflow: hidden;
}
#addBlue{
    background-color: blue;
}
#addRed{
    background-color: red;
}
#addGreen{
    background-color: green;
}
#addPurple{
    background-color: purple;
}
.slide-image{
    width: 100%;
    height: 80%;
}
.slide-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.open-calc{
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
    border: 1px solid black;
    text-align: center;
    max-height: 20%;
    width: 150px;
    align-self: center;
    border-radius: 25px;
    box-shadow: 1px 1px 1px, -1px -1px 1px;
}
.open-calc:hover{
    font-weight: bold;
    cursor: pointer;

}
